.row
  .how-it-works.col-md-7.col-md-offset-3
    %h3.row
      .question-q.col-md-1.col-sm-1.col-xs-1
        Q
      .question.col-md-10.col-sm-10.col-xs-10
        What do I do?
    %h4.row
      .answer-a.col-md-1.col-sm-1.col-xs-1
        A
      .answer.col-md-10.col-sm-10.col-xs-10
        Enter any URL that you want to download images from and Pilfer will automagically get them ready for you!
    %h3.row
      .question-q.col-md-1.col-sm-1.col-xs-1
        Q
      .question.col-md-10.col-sm-10.col-xs-10
        How long does it take to download all the images?
    %h4.row
      .answer-a.col-md-1.col-sm-1.col-xs-1
        A
      .answer.col-md-10.col-sm-10.col-xs-10
        Depending on the site, it can take up to 20 seconds so please be patient
    %h3.row
      .question-q.col-md-1.col-sm-1.col-xs-1
        Q
      .question.col-md-10.col-sm-10.col-xs-10
        Can I enter any site I want?
    %h4.row
      .answer-a.col-md-1.col-sm-1.col-xs-1
        A
      .answer.col-md-10.col-sm-10.col-xs-10
        Yes! However Image Pilfer is only to be used for legal content. Thanks!
    %h3.row
      .question-q.col-md-1.col-sm-1.col-xs-1
        Q
      .question.col-md-10.col-sm-10.col-xs-10
        Why aren't all the images from the site I entered in my archive?
    %h4.row
      .answer-a.col-md-1.col-sm-1.col-xs-1
        A
      .answer.col-md-10.col-sm-10.col-xs-10
        This application is still in beta while I work out some bugs
