.hidden
  display: none

.title
  font-family: Pacifico
  font-size: 46px

body
  background-color: #EDEDED

.download-container
  font-size: 25px
  cursor: pointer
  .download-link
    font-family: Helvetica
